<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/shop/css/style_dvd.css">
    {%block style%}
    {%endblock%}
</head>
<body>
   <header>
        <a href="{% url 'index' %}" class="logo">LOGO</a>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="{% url 'add' %}">add</a></li>
                <li><a href="/admin">admin</a></li>
                    
                <li><a href="#">about</a></li>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}">auth</a></li>
                <li><a href="{% url 'register' %}">register</a></li>
                {% else %}
                <li><a href="{% url 'lk' %}">{{ user.username }}</a></li>
                <li><a href="{% url 'favourites' %}">Избранное {{ count_favourites }}</a></li>
                <li><a href="{% url 'shopping_cart' %}">Корзина: {{cart_count}}</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
   </header>

   <div class="backmenu">
        <form action="{% url 'index' %}" method="">
            <input type="text" name="find" placeholder="Поиск">
        </form>    
        
   </div>
    <div class="maiin">
        {% block content%}
        {% endblock %}
    </div>
</body>
</html>