{% extends 'dvd.html' %}

{% block content %}
<h1>Кол-во товаров в вашей корзине = {{shopping_cart.count}}</h1>
 {% for m in shopping_cart %}

        <div class="cart">
        {% if m.mobile.photo %}
        <a href="{{ m.mobile.get_absolute_url }}">
            <img src="{{m.mobile.photo.url}}" alt="{{m.mobile.name}}" width=200>
            </a>
            {% endif %}
        <a href="{{ mobile.get_absolute_url }}"><p>{{m.mobile.firm}} {{m.mobile.name}}</p></a>
        <a href="{{ mobile.get_absolute_url }}"><p>Цена  -  {{m.mobile.price}}</p></a>
        <br>
            {{m.pk}}
            <form method="post">
                {% csrf_token%}
                <button name="minus_cart" value="{{ m.pk }}">-</button>
            </form>
            {{m.quantity}}
            <form method="post">
                {% csrf_token%}
                <button name="plus_cart" value="{{ m.pk }}">+</button>
            </form>
            Кол-во товаров в корзине = {{m.quantity}}



    </div>

    {% endfor %}
<h3>Итоговая сумма = {{sum}}</h3>
{% endblock %}