{% extends "dvd.html" %}

{% block content %}
    {% for mobile in mobiles %}
    <a href="{{ mobile.get_absolute_url }}">
        <div class="cart">
        {% if mobile.photo %}
        <img src="{{mobile.photo.url}}" alt="{{mobile.name}}" width=200>
            {% endif %}
        <p>{{mobile.firm}} {{mobile.name}}</p>
        <p>Цена  -  {{mobile.price}}</p>
        {% if mobile.quantity <= 5  and mobile.quantity > 0  %}
            <p class="warning">Осталось мало: {{ mobile.quantity }} шт.</p>
        {% elif mobile.quantity == 0 %}
            <p class="warning">Товар закончился</p>
        {% endif %}
    </a>
        <button>в корзину</button>
    </div>
    
    {% endfor %}
{% endblock %}